<mat-card>
  <mat-card-header *ngIf="!isEdit" class="post-card-header">
    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle>{{ post.body }}</mat-card-subtitle>
  </mat-card-header>
  <button *ngIf="!isEdit" class="post-edit-btn" mat-fab color="primary" (click)="onEdit()">
    <mat-icon>edit</mat-icon>
  </button>
  <app-post-form *ngIf="isEdit" (newPost)="newPostUpdate($event)" [data]="post"></app-post-form>
</mat-card>
