<form [formGroup]="postForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <input formControlName="title" matInput placeholder="Title" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <textarea formControlName="body" matInput placeholder="Content" required></textarea>
  </mat-form-field>
  <button mat-button type="submit" [disabled]="!postForm.valid">Post</button>
</form>