<mat-list role="list">
  <mat-list-item class="post-list-elem" *ngFor="let post of posts" role="listitem">
    <app-post-card class="post-card" [post]="post"></app-post-card>
  </mat-list-item>
</mat-list>
